@font-face {
	font-family: 'Quantico-Regular';
	src: url("/plinth/fonts/Quantico/Quantico-Regular.woff2") format("woff2"),
		url("/plinth/fonts/Quantico/Quantico-Regular.woff") format("woff"),
		url("/plinth/fonts/Quantico/Quantico-Regular.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Quantico-Italic';
	src: url("/plinth/fonts/Quantico/Quantico-Italic.woff2") format("woff2"),
		url("/plinth/fonts/Quantico/Quantico-Italic.woff") format("woff"),
		url("/plinth/fonts/Quantico/Quantico-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Quantico-BoldItalic';
	src: url("/plinth/fonts/Quantico/Quantico-BoldItalic.woff2") format("woff2"),
		url("/plinth/fonts/Quantico/Quantico-BoldItalic.woff") format("woff"),
		url("/plinth/fonts/Quantico/Quantico-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'Quantico-Bold';
	src: url("/plinth/fonts/Quantico/Quantico-Bold.woff2") format("woff2"),
		url("/plinth/fonts/Quantico/Quantico-Bold.woff") format("woff"),
		url("/plinth/fonts/Quantico/Quantico-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'Rajdhani-Light';
	src: url("/plinth/fonts/Rajdhani/Rajdhani-Light.woff2") format("woff2"),
		url("/plinth/fonts/Rajdhani/Rajdhani-Light.woff") format("woff"),
		url("/plinth/fonts/Rajdhani/Rajdhani-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'Rajdhani-Regular';
	src: url("/plinth/fonts/Rajdhani/Rajdhani-Regular.woff2") format("woff2"),
		url("/plinth/fonts/Rajdhani/Rajdhani-Regular.woff") format("woff"),
		url("/plinth/fonts/Rajdhani/Rajdhani-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: 'Rajdhani-Medium';
	src: url("/plinth/fonts/Rajdhani/Rajdhani-Medium.woff2") format("woff2"),
		url("/plinth/fonts/Rajdhani/Rajdhani-Medium.woff") format("woff"),
		url("/plinth/fonts/Rajdhani/Rajdhani-Medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: 'Rajdhani-SemiBold';
	src: url("/plinth/fonts/Rajdhani/Rajdhani-SemiBold.woff2") format("woff2"),
		url("/plinth/fonts/Rajdhani/Rajdhani-SemiBold.woff") format("woff"),
		url("/plinth/fonts/Rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: 'Rajdhani-Bold';
	src: url("/plinth/fonts/Rajdhani/Rajdhani-Bold.woff2") format("woff2"),
		url("/plinth/fonts/Rajdhani/Rajdhani-Bold.woff") format("woff"),
		url("/plinth/fonts/Rajdhani/Rajdhani-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'NGC-Light';
	src: url("/plinth/fonts/NGC/NGCDINOnAir-Light.woff2") format("woff2"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Light.woff") format("woff"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Light.ttf") format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: 'NGC-Medium';
	src: url("/plinth/fonts/NGC/NGCDINOnAir-Medium.woff2") format("woff2"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Medium.woff") format("woff"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Medium.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'NGC-Regular';
	src: url("/plinth/fonts/NGC/NGCDINOnAir-Regular.woff2") format("woff2"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Regular.woff") format("woff"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: 'NGC-CondBold';
	src: url("/plinth/fonts/NGC/NGCDINOnAir-CondBold.woff2") format("woff2"),
		url("/plinth/fonts/NGC/NGCDINOnAir-CondBold.woff") format("woff"),
		url("/plinth/fonts/NGC/NGCDINOnAir-CondBold.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: 'NGC-Bold';
	src: url("/plinth/fonts/NGC/NGCDINOnAir-Bold.woff2") format("woff2"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Bold.woff") format("woff"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Bold.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: 'NGC-Black';
	src: url("/plinth/fonts/NGC/NGCDINOnAir-Black.woff2") format("woff2"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Black.woff") format("woff"),
		url("/plinth/fonts/NGC/NGCDINOnAir-Black.ttf") format("truetype");
	font-weight: 700;
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
	-webkit-text-size-adjust: 100%;
	position: relative;
	min-height: 100%;
	width: 100%;
	overflow: hidden;

	color: #fff;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: url("/plinth/images/Header/nebula.png") top right no-repeat, url("/plinth/images/background.jpg");
	background-repeat: no-repeat;
	background-size: auto;

	z-index: -2;

	animation: fadeInAnimation ease 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	height: calc(100% + 200px);
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.footer {
	display: block;
	float: left;
	width: 100%;
	padding: 0 5rem;
	margin: 20rem 0 0 0;

	-webkit-transition: background-color 1000ms linear;
	position: fixed;
	bottom: 0;
	z-index: 7;
}

.footer__list {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	margin: 0.5rem 0 0.5rem 0;
}

.footer__item {
	font-family: "NGC-CondBold", sans-serif;
	font-size: 1.75rem;
	text-transform: uppercase;
	float: left;
	line-height: 3rem;
	padding: 0 1rem;
}

@media screen and (max-width: 62em) {
	.footer__item {
		width: 33.3333333332%;
		text-align: center;
	}
}

@media screen and (max-width: 48em) {
	.footer__item {
		width: 25%;
		font-size: 1.3rem;
		line-height: 1.8rem;
	}
}

/*@media screen and (max-width: 48em) {
	.footer__link {
		font-size: 0.5rem;
		width: 100%;
		overflow: hidden;
	}
}*/

.footer__item:first-of-type {
	padding: 0 2rem 0 4rem;
}

@media screen and (max-width: 62em) {
	.footer__item:first-of-type {
		padding: 0 1rem;
	}
}

.footer__item--copyright {
	font-family: "NGC-Medium", sans-serif;
	font-size: 1.4rem;
	text-transform: none;
	opacity: 0.4;
	padding: 0;
}

@media screen and (max-width: 62em) {
	.footer__item--copyright {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
}

.footer__item--right {
	float: right;
	margin: 0 4rem 0 0;
}

@media screen and (max-width: 62em) {
	.footer__item--right {
		margin: 0;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 48em) {
	.footer__item--right {
		padding-left: 2rem;
		padding-right: 0rem;
		width: 75%;
		text-align: right;
		margin: 0;
	}
}

.footer__link {
	color: #fff;
	text-decoration: none;
	transition: color 0.25s ease-in;
}

.footer__link:hover {
	color: #c46b16;
	text-decoration: none !important;
}

.social-link {
	text-decoration: none;
}

.facebook-link {
	height: 2rem;
	width: 2rem;
	margin-right: 2rem;
	text-decoration: none;
	cursor: pointer;
	color: white;
	transition: color 0.25s ease-in;
}

.twitter-link {
	height: 2rem;
	width: 2rem;
	margin-right: 2rem;
	text-decoration: none;
	color: white;
	transition: color 0.25s ease-in;
}
.instagram-link {
	height: 2rem;
	width: 2rem;
	margin-right: 2rem;
	text-decoration: none;
	color: white;
	transition: color 0.25s ease-in;
}

.youtube-link {
	height: 2rem;
	width: 2rem;
	margin-right: 2rem;
	text-decoration: none;
	color: white;
	transition: color 0.25s ease-in;
}

.fa-youtube-play:hover {
	color: #c46b16 !important;
	transition: color 0.35s ease-in;
}

.fa-facebook-official:hover {
	color: #c46b16 !important;
	transition: color 0.35s ease-in;
}

.fa-twitter-square:hover {
	color: #c46b16 !important;
	transition: color 0.35s ease-in;
}

.fa-instagram:hover {
	color: #c46b16 !important;
	transition: color 0.35s ease-in;
}

.color-change2 {
	background-color: black !important;
	-webkit-transition: background-color 1200ms linear;
}

.stars {
	position: fixed;
	background-image: url("/plinth/images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	z-index: -2;
	transform: translate3d(0, 0, 0);
	will-change: transform;
	opacity: 0;
	width: 100vw;
	height: calc(100% + 200px);
}

.cookie {
	width: 720px;
	max-width: 90%;
	height: 360px;
	max-height: 95%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	background: #000;
	z-index: 99;
	padding: 50px 90px;
	text-align: center;
	box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 62em) {
	.cookie {
		padding: 20px;
		overflow-y: scroll;
	}
}

.cookie--hidden {
	display: none;
}

.cookie__title {
	color: #c46b16;
	letter-spacing: .2rem;
	font-size: 1.8rem;
	font-family: "NGC-CondBold", sans-serif;
}

.cookie__message {
	line-height: 20px;
	margin-top: 20px;
	font-family: "NGC-Medium", sans-serif;
	line-height: 1.8em;
	letter-spacing: .1rem;
	margin-bottom: 70px;
}

@media screen and (max-width: 62em) {
	.cookie__message {
		font-size: 1.4em;
		line-height: 1.6em;
	}
}

.cookie__link {
	cursor: pointer;
	line-height: 15px;
	height: 40px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	font-size: 1.6rem;
	letter-spacing: .1em;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-family: "NGC-CondBold", sans-serif;
	background-image: url("images/icons/checkmark-white.svg");
	background-repeat: no-repeat;
	background-position: 20px center;
	text-align: center;
}

.cookie__url {
	color: #fff;
}

.nebula {
	position: fixed;
	display: block;
	right: 0;
	top: 0;
	width: 785px;
	height: 692px;
	background: url("images/Header/nebula.png") top right no-repeat;
	background-size: contain;
	opacity: 0.6;
	z-index: -1;
}

/*card css starts*/
/* Font */

/*My code*/
.tnc-class {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
/*My code*/

.heading {
	color: white;
	font-family: "NGC-Regular", sans-serif;
	letter-spacing: 0.25em;
	padding-top: 70px;
	padding-bottom: 40px;
	text-align: center;

	font-size: 40px;
	position: relative;
}
.Main-body {
	font-family: "NGC-Regular", sans-serif;
	letter-spacing: 0.25em;
	font-size: 30px;
	color: #fff;
	padding-bottom: 40px;
}
.Main-body h3 {
	font-size: 1.6em;
}
/*---------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------*/

/*My code*/
.rounded {
	width: 700px;
	padding-bottom: 150px;
}

.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/*My code*/
.active-link {
	color: #c46b16 !important;
}
